In [4]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np 

dataset = pd.read_csv('data/satellites.csv')

# removing irrelevant columns 
dataset = dataset.drop(columns=['CCSDS_OMM_VERS', 'COMMENT', 'CREATION_DATE', 'ORIGINATOR', 'OBJECT_NAME', 'OBJECT_ID', 'CENTER_NAME', 
                        'REF_FRAME', 'TIME_SYSTEM', 'MEAN_ELEMENT_THEORY', 'EPHEMERIS_TYPE', 'CLASSIFICATION_TYPE', 'ELEMENT_SET_NO', 
                        'REV_AT_EPOCH', 'BSTAR', 'MEAN_MOTION_DOT', 'MEAN_MOTION_DDOT', 'SITE', 'DECAY_DATE', 'FILE', 'GP_ID', 
                        'TLE_LINE0', 'TLE_LINE1', 'TLE_LINE2', 'ECCENTRICITY', 'MEAN_MOTION','PERIOD', 'APOAPSIS', 'PERIAPSIS',
                        'COUNTRY_CODE' ])

In [5]:
def epoch(df_column):
    date_list = list(df_column) 
    new_date_list = []

    for data in date_list:
        date, time = data.split('T')
        year, month, day = date.split('-')
        hour, minute, second = time.split(':')
        second = second[0:2]

        new_date_list.append(datetime.datetime(int(year), int(month), int(day), int(hour), 
        int(minute), int(second)).timestamp())

    return new_date_list

In [6]:
# only selecting data in LEO 
dataset = dataset[dataset['SEMIMAJOR_AXIS'] < 8371]
dataset['EPOCH'] = epoch(dataset['EPOCH'])

In [7]:
dataset.to_csv('data/satelite2.csv', index=False)

,EPOCH,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY,NORAD_CAT_ID,SEMIMAJOR_AXIS,OBJECT_TYPE,RCS_SIZE,LAUNCH_DATE
1,1.635694e+09,82.9193,299.1120,158.9093,201.3337,26743,7358.038,DEBRIS,SMALL,1979.0
3,1.635675e+09,98.4781,8.7205,37.3771,323.1632,26754,7015.076,DEBRIS,SMALL,1999.0
4,1.635699e+09,98.4232,122.0724,345.1605,27.6061,26755,7031.400,DEBRIS,SMALL,1999.0
5,1.635739e+09,98.7597,287.9689,54.5300,306.3803,26756,7141.674,DEBRIS,SMALL,1999.0
30,1.635706e+09,100.3344,151.9642,291.8206,198.6383,26816,7451.758,DEBRIS,SMALL,1966.0
...,...,...,...,...,...,...,...,...,...,...
14367,1.634038e+09,99.0098,214.6827,219.1613,140.8771,87970,6804.882,TBA,NaN,NaN
14368,1.635659e+09,99.0272,141.1159,76.8926,283.8489,89171,6955.066,TBA,NaN,NaN
14369,1.635648e+09,31.9916,262.9339,162.7824,199.2858,270007,7675.817,TBA,NaN,NaN
14370,1.635667e+09,98.6758,348.3068,187.0288,173.0081,270207,7188.204,TBA,NaN,NaN
14371,1.635703e+09,90.2762,327.5871,238.9003,120.9215,270288,7659.260,TBA,NaN,NaN

0.0494 144.5862
270288
{'SMALL', 'LARGE', 'MEDIUM', nan}
{'ROCKET BODY', 'TBA', 'DEBRIS', 'PAYLOAD'}

In [5]:
print(min(dataset['INCLINATION']), max(dataset['INCLINATION']))
print(max(dataset['NORAD_CAT_ID']))
print(set(dataset['RCS_SIZE']))
print(set(dataset['OBJECT_TYPE']))

list_sma = sorted(dataset['SEMIMAJOR_AXIS'])
arrays = np.array_split(list_sma, 8)

subsections = []
for i in arrays:
    subsections.append(max(i))


plot_data = dataset[['ECCENTRICITY', 'SEMIMAJOR_AXIS']].sort_values(by=['SEMIMAJOR_AXIS'])

plt.plot(plot_data['SEMIMAJOR_AXIS'], plot_data['ECCENTRICITY'])

[6904.541, 6925.362, 7024.6, 7127.719, 7189.4, 7243.753, 7387.845, 8370.819]